/* Styles, die bei allen HTML-Tags angewendet werden */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

/* Globale Styles-Variablen z.B Farben, Paddings, Gaps, Schatten, Schriftgrößen, Animationen, */
:root {

}

/* Media Query: Activiert die darunter liegenden Styles, wenn die Bedingung (max-width: 900px) erfühlt ist. */
@media (max-width: 900px) {

  /* Globale Styles-Variablen auf Bildschirme mit maximalen Breite von 900px bzw. Geräte, die nicht breiter als 900px sind */
  :root {

  }
}
